<h1>{{ title }}</h1>

<ul>
  {{#each users}}
    <li>
        {{ name }} / {{ student_number }} / {{ major }} / {{ grade }} / {{ second_major }}/ {{ addmission_date }} / {{ email }}
      </a>
    </li>
  {{/each}}
</ul>